@use "../abstracts/mixins" as *;

/* Scroll animations
================================================== */

.site-content > .animated:not(.table-of-contents-wrapper) {
	position: relative;
	opacity: 1;
}

.site-content {
	.animate {
		@include transition(opacity 0.8s ease);
		opacity: 0;

		&.wp-block-media-text {
			.wp-block-media-text__media {
				@include transition(transform 0.8s ease);
				transform: translateY(50px);
			}

			.wp-block-media-text__content {
				@include transition(
					transform 0.8s ease 0.2s,
					opacity 0.8s ease 0.2s
				);
				opacity: 0;
				transform: translateX(50px);
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					transform: translateX(-50px);
				}
			}
		}

		&.media-content-group,
		.media-content-group {
			.content-col {
				@include transition(
					transform 0.8s ease 0.2s,
					opacity 0.8s ease 0.2s
				);
				opacity: 0;
			}
			.media-col {
				@include transition(transform 0.8s ease);
				transform: translateY(50px);
			}

			&.align-right {
				.content-col {
					transform: translateX(-50px);
				}
			}

			&.align-left {
				.content-col {
					transform: translateX(50px);
				}
			}
		}

		&.animated {
			opacity: 1;

			&.wp-block-media-text {
				.wp-block-media-text__media {
					transform: translateY(0);
				}

				.wp-block-media-text__content {
					transform: translateX(0);
					opacity: 1;
				}
			}

			&.media-content-group,
			.media-content-group {
				.media-col {
					transform: translateY(0);
				}

				&.align-right,
				&.align-left {
					.content-col {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
		}
	}
}
