/* Highlight text */

.highlight-text {
	background-color: #dcdeeb;
	padding: 0.3em;
}

/* Extra classes meta box */

.extra-classes-meta-box {
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 0;
        margin-bottom: 15px;
    }
}