/* highlight-text */

.highlight-text {
	background-color: #dcdeeb;
	padding: 0.3em;
}

/* Extra classes meta box */

.extra-classes-meta-box dt {
	font-weight: bold;
}
.extra-classes-meta-box dd {
	margin-left: 0;
	margin-bottom: 15px;
}