/* Fonts 
================================================== */

$font-family-base: Helvetica, Tahoma, sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;
$letter-spacing: 1px;
$line-height-base: 1.4;

$fs1: (
	"null": 3.125rem, // 50px
	"md2": 2.5rem,
	"md": 2.2rem,
	"xs": 2rem // 28px,
);
$fs2: (
	"null": 2.5rem, // 40px
	"md2": 2.2rem,
	"md": 1.875rem,
	"xs": 1.857rem // 26px
);

/* Color palette
================================================== */

$red: #EF5250;
$white: #F6F5EE;
$black: #000000;

$colors: (
    'red': $red,
    'white': $white,
    'black': $black,
);

/* Buttons and forms
================================================== */

@mixin btn(
	$color: $white,
	$colorhover: $white,
	$border: $black,
	$borderhover: $black,
	$background: $black,
	$backgroundhover: $black,
	$pathfill: $white,
	$pathfillhover: $white,
	$borderradius: 0,
	$padding: 15px 24px,
	$fontsize: 1rem
) {
	@include transition(
		color 0.5s ease,
		background-color 0.5s ease,
		border 0.5s ease
	);
	width: auto;
	cursor: pointer;
	padding: $padding;
	display: inline-block;
	text-align: center;
	color: $color;
	background: $background;
	border: 1px solid $border;
	line-height: 1;
	border-radius: $borderradius;
	font-weight: 600;
    text-decoration: none;
    
    @if type_of($fontsize) == "map" {
		@include font-size($fontsize);
	} @else {
		font-size: $fontsize;
	}

	svg {
		&:last-child {
			margin-left: 10px;
		}

		path {
			@include transition(fill 0.5s ease);
			fill: $pathfill;
		}
	}

	&:hover {
		background-color: $backgroundhover;
		color: $colorhover;
		border: 1px solid $borderhover;

		svg path {
			fill: $pathfillhover;
		}
	}
}

@mixin input-placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

/* Flexbox 
================================================== */

@mixin flex($align: flex-start, $wrap: wrap) {
	// align flex-start, center, flex-end
	display: flex;
	flex-wrap: $wrap;
	align-items: $align;

	& > div,
	& > li {
		float: left;
	}

	&:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
}

@mixin flexWidth($args...) {
	width: $args;
	max-width: $args;
	flex-basis: $args;
}

/* Transitions and animations
================================================== */

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	animation: #{$str};
}

/* Visibility
================================================== */

@mixin hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

@mixin visible {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/* Media queries
================================================== */

$breakpoints: (
	"xxs": "450px",
	"xs": "600px",
	"sm": "768px",
	"md": "992px",
	"md2": "1200px",
	"lg": "1400px",
	"xl": "1900px",
	"xxl": "2000px",
);


@mixin mq($width: "xs", $orientation: "", $orientationcondition: "and") {
	$query_width: map-get($breakpoints, $width);

	@if $query_width == null {
		@error "Wrong width: #{$width}";
	}

	@if $orientation !=
		"portrait"
		AND
		$orientation !=
		"landscape"
		AND
		$orientation !=
		""
	{
		@error "Wrong orientation: #{$orientation}";
	}

	@if $orientation != "" {
		@if $orientationcondition == "and" {
			@if $width == "xl" or $width == "xxl" {
				@media screen and (min-width: #{$query_width}) and (orientation: #{$orientation}) {
					@content;
				}
			} @else {
				@media screen and (max-width: #{$query_width}) and (orientation: #{$orientation}) {
					@content;
				}
			}
		} @else {
			@if $width == "xl" or $width == "xxl" {
				@media screen and (min-width: #{$query_width}), screen and (orientation: #{$orientation}) {
					@content;
				}
			} @else {
				@media screen and (max-width: #{$query_width}), screen and (orientation: #{$orientation}) {
					@content;
				}
			}
		}
	} @else {
		@if $width == "xl" or $width == "xxl" {
			@media screen and (min-width: #{$query_width}) {
				@content;
			}
		} @else {
			@media screen and (max-width: #{$query_width}) {
				@content;
			}
		}
	}
}

@mixin min-mq($screen) {
	@media screen and (min-width: $screen+"px") {
		@content;
	}
}

@mixin max-mq($screen) {
	@media screen and (max-width: $screen+"px") {
		@content;
	}
}

/* Font sizes
================================================== */

@mixin font-size($fs-map) {
	@each $fs-breakpoint, $fs-font-size in $fs-map {
		@if $fs-breakpoint == "null" {
			font-size: $fs-font-size;
		} @else {
			$query: "max-width";
			@if map-has-key($breakpoints, $fs-breakpoint) {
				@if $fs-breakpoint == "xl" or $fs-breakpoint == "xxl" {
					$query: "min-width";
				}

				$fs-breakpoint: map-get($breakpoints, $fs-breakpoint);
			}
			@media screen and (#{$query}: #{$fs-breakpoint}) {
				font-size: $fs-font-size;
			}
		}
	}
}

/* Other mixins and extends
================================================== */

@mixin pseudo($display: block, $pos: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $pos;
}

%sr-only {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute !important;
	top: 0;
	left: 0;
}

/* CONTAINER SIZES
================================================== */

%container_common {
	margin-left: auto;
	margin-right: auto;

	@include mq("sm") {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include mq("xs") {
		padding-left: 25px;
		padding-right: 25px;
	}
}

%container_default {
	width: 50%;

	@include mq("xs") {
		width: 100%;
	}
}

%container_medium {
	width: 74.96%;

	@include mq("sm") {
		width: 100%;
	}
}

%container_large {
	width: 82.43%;

	@include mq("sm") {
		width: 100%;
	}
}
