/* Colors */

@each $color, $color_code in $colors {
    .has-#{$color}-color {
      color: $color_code;
    }
    .has-#{$color}-background-color {
      background-color: $color_code;
    }
    .wp-block-cover-image.has-background-dim .has-#{$color}-background-color:before,
    .wp-block-cover.has-background-dim .has-#{$color}-background-color:before {
      background-color: $color_code;
    }
  }