/* Fonts
================================================== */

/* @font-face {
	font-family: "Domaine Text Italic";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/font.eot");
	src: url("../fonts/font.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/font.woff2")
			format("woff2"),
		url("../fonts/font.woff")
			format("woff");
} */

/* Body and html
================================================== */

:root {
	--vh: 1vh;
}

body,
html {
	background-color: $white;
	padding: 0;
	margin: 0;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	letter-spacing: $letter-spacing;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: $black;
	width: 100%;
	min-height: 100%;
	height: 100%;

	@include mq("xl") {
		font-size: 16px;
	}

	@include mq("xxl") {
		font-size: 20px;
	}
}

/* Headings
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.1rem;
}

/* Paragraphs
================================================== */

p {
	&:last-child {
		margin-bottom: 0;

		a:first-child:last-child {
			margin-bottom: 0;
		}

		+ .wp-block-kobu-custom-blocks-responsive-spacer {
			margin-top: 0;
		}
	}

	+ .wp-block-kobu-custom-blocks-responsive-spacer {
		margin-top: -20px;
	}

	+ h1,
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: 30px;
	}
}

/* Links
================================================== */

a {
	@include transition(color .5s ease);
    color: $black;
    -webkit-tap-highlight-color: transparent;
	cursor: pointer;
	text-decoration: none;
	outline: none;

	&:hover {
		color: $black;
		text-decoration: none;
		outline: none;
	}
}

/* Text align
================================================== */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* Error message
================================================== */

.error-message {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 10000;
	bottom: 30px;

	p {
		@extend %container_common;
		@extend %container_large;
		padding: 10px 20px 6px 20px;
		color: $black;
		background-color: $white;
	}
}


/* Background image
================================================== */

.bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;

	&:before {
		@include pseudo;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba($black, 0.5);
		z-index: 2;
	}

	.coverimg {
		z-index: 1;
	}
}


/* Other
================================================== */

.grecaptcha-badge {
	opacity: 0 !important;
	pointer-events: none !important;
}

%clear {
	&:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		line-height: 0;
		visibility: hidden;
	}
}

.clr {
	@extend %clear;
}

.oh {
	overflow: hidden;
}

.sr-only {
	@extend %sr-only;
}

img {
	width: 100%;
	height: auto;
}

.coverimg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.slick-slide {
	outline: none;
}

.highlight-text {
	background-color: #dcdeeb;
	padding: 0.3em;
}