/* Forms, inputs, select, etc
================================================== */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: $black;
	-webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
	transition: background-color 5000s ease-in-out 0s;
}

input,
textarea,
select {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	width: 100%;
	padding: 10px 0 14px 0;
	font-family: $font-family-base;
	letter-spacing: 0px;
	color: $black;
	appearance: none;
	-webkit-appearance: none;
	outline: 0;
	font-size: 1.28rem;

	@include input-placeholder {
		color: $black;
		opacity: 1;
	}
}

input[type="checkbox"],
input[type="radio"] {
	width: 18px;
	height: 18px;
	display: inline-block;
	padding: 0;
	background-color: transparent;
	top: 3px;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 15px;
	border: 1px solid $black;
	cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: $black;
}

textarea {
	height: 180px;
}

input:focus,
textarea:focus {
	outline: none;
}

select {
	option {
		color: #000;
	}
}

/* Button and CTA
================================================== */

button {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	width: auto;
	padding: 0;
	height: auto;
	outline: 0;
	cursor: pointer;
}

.wp-block-button__link.has-background {
	border-color: inherit;
}
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	border: 2px solid;
}

input[type="submit"],
form button,
.wp-block-button__link {
	@include btn-common;
	@include btn;
	//@include font-size($fs18);
	padding: 15px 30px;
	border-radius: 25px;

	.site-content & {
		text-decoration: none;
	}
}

/* .wp-block-button__link {
	border-radius: 25px !important;
}

.small-btn .wp-block-button__link {
	padding: 10px 20px;
	border-radius: 25px !important;
}

.large-btn .wp-block-button__link {
	padding: 20px 40px;
	border-radius: 29px !important;
} */

.btn {
	@include btn-common;
	@include btn;
	//@include font-size($fs18);

	.site-content & {
		text-decoration: none;
	}

	&.default {
		padding: 15px 30px;
		border-radius: 25px;
	}

	&.large {
		padding: 20px 40px;
		border-radius: 29px;
	}

	&.light {
		/* @include btn(
			$color: $beige,
			$colorhover: $gray,
			$border: $beige,
			$borderhover: $beige,
			$background: transparent,
			$backgroundhover: $beige
		); */
	}
}

/* CF7 Forms
================================================== */

.input-group {
	margin-bottom: 30px;

	label {
		font-size: 0.85rem;
		color: $red;
	}

	&.inline {
		.wpcf7-list-item {
			display: inline-block;
			margin-right: 30px;
		}
	}
}

.wpcf7 span.wpcf7-list-item {
	position: relative;
	margin-bottom: 30px;
	padding-left: 30px;
	display: block;
	margin-bottom: 10px;
	margin-left: 0;

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
	}
}

div.wpcf7 .button-wrapper {
	display: inline-block;
	position: relative;

	.ajax-loader {
		position: absolute;
		right: 100%;
		margin-right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.wpcf7 .wpcf7-not-valid-tip {
	margin-top: 10px;
	color: $red;
	font-size: 0.85rem;
}

.wpcf7 textarea + .wpcf7-not-valid-tip {
	margin-top: 5px;
}

div.wpcf7 form .wpcf7-response-output {
	margin: 30px 0 0 0;
	padding: 10px 20px;
	background-color: $white;
	border: 0;
	font-size: 0.85rem;
}