/* FORMS: INPUT, SELECT, ETC
================================================== */

@-webkit-keyframes autofill {
	to {
		color: $white;
		background: $blue;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

input,
textarea,
select {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	width: 100%;
	padding: 10px 0 14px 0;
	font-family: $font-family-base;
	letter-spacing: 0px;
	color: $blue;
	appearance: none;
	-webkit-appearance: none;
	outline: 0;
	font-size: 1.28rem;

	@include input-placeholder {
		color: $blue;
		opacity: 1;
	}
}

input[type="submit"],
form button,
.btn:not(.large):not(.whiteghost),
.wp-block-button__link {
	@include btn;

	.site-content & {
		text-decoration: none;
	}
}

.btn.whiteghost {
	@include btn(
		$color: $white,
		$colorhover: $blue,
		$border: $white,
		$borderhover: $white,
		$background: transparent,
		$backgroundhover: $white,
		$pathfill: $white,
		$pathfillhover: $blue,
	);
}

.wp-block-button__link.has-background {
	border-color: inherit;
}

%checkbox {
	width: 18px;
	height: 18px;
	display: inline-block;
	padding: 0;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	top: 3px;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
	border: 1px solid $blue;
	margin-left: 0;
	margin-right: 15px;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	@extend %checkbox;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: $blue;
}

textarea {
	height: 180px;
	line-height: 22px;
}

input:focus,
textarea:focus {
	outline: none;
}

select {
	option {
		color: #000;
	}
}

.input-group {
	margin-bottom: 30px;

	label {
		font-size: 0.85rem;
		color: $red;
	}

	&.inline {
		.wpcf7-list-item {
			display: inline-block;
			margin-right: 30px;
		}
	}
}

.wpcf7 span.wpcf7-list-item {
	position: relative;
	margin-bottom: 30px;
	padding-left: 30px;
	display: block;
	margin-bottom: 10px;
	margin-left: 0;

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		top: 0;
		left: 0;
	}
}

div.wpcf7 .button-wrapper {
	display: inline-block;
	position: relative;

	.ajax-loader {
		position: absolute;
		right: 100%;
		margin-right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.wpcf7 .wpcf7-not-valid-tip {
	margin-top: 10px;
	color: $red;
	font-size: 0.85rem;
}

.wpcf7 textarea + .wpcf7-not-valid-tip {
	margin-top: 5px;
}

div.wpcf7 form .wpcf7-response-output {
	margin: 30px 0 0 0;
	padding: 10px 20px;
	background-color: $white;
	border: 0;
	font-size: 0.85rem;
}