/* MAIN LAYOUT UI/UX
================================================== */

body, html {
    background-color: $white;
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
    letter-spacing: $letter-spacing;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    //overflow-x: hidden;
	color: $black;
	width: 100%;
	min-height: 100%;
	height: 100%;

    @include min-mq(1600) {
        font-size: 18px;
    }

    @include xl {
        font-size: 20px;
    }

    @include xxl {
        font-size: 22px;
    }
}

a {
	@include transition(color .5s ease);
    color: $black;
    -webkit-tap-highlight-color: transparent;
	cursor: pointer;
	text-decoration: none;
	outline: none;

	&:hover {
		color: $black;
		text-decoration: none;
		outline: none;
	}
}

img {
	width: 100%;
	height: auto;
}

p + .btn {
	margin-top: 40px;
}

p:last-child {
	margin-bottom: 0;
}

.oh {
	overflow: hidden;
}


// Padding top / bottom

@mixin ptb($top, $bottom) {
	padding-top: $top + px;
	padding-bottom: $bottom + px;
}

@each $paddingVal in 80, 120 {
	.ptb#{$paddingVal} {
	    @include ptb($paddingVal, $paddingVal);

	    @if $paddingVal == 80 {
	    	@include sm {
		        @include ptb(60, 60);
		    }

		    @include xs {
		        @include ptb(40, 40);
		    }
		}
  	}
}


// Clear float

%clear {
	&:after {
	    clear: both;
	    content: " ";
	    display: block;
	    height: 0;
	    line-height: 0;
	    visibility: hidden;
	}
}

.clr {
	@extend %clear;
}



// Table structure

.dt {
	display: table;
	width: 100%;

	&.fullheight {
		height: 100%;
	}
}

.dtc {
	display: table-cell;

	&.align-middle {
		vertical-align: middle;
	}
	&.align-top {
		vertical-align: top;
	}
	&.align-bottom {
		vertical-align: bottom;
	}
}

// TABLE LAYOUT

#tablesite-content {
	display: table;
	height: 100%;
	width: 100%;
	table-layout:fixed;
	position: relative;
	//z-index: 1;

	&.autoheight {
		height: auto;
	}

	#footer-wrap {
		display: table-row;
		height: 1px;
		//z-index: 2;
	}

	#main-content {
		display: table-row;
		overflow: hidden;
	}
}


// Container

%container_default_mobile {
	@include sideMargin;

    @include sm {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include xs {
        padding-left: 30px;
        padding-right: 30px;
    }
}

%container_default {
	width: 50%;

	@include md2 {
        width: 65%;
    }

	@include md {
        width: 75%;
    }

    @include max-mq(850) {
        width: 82%;
    }

    @include sm {
        width: 100%;
    }
}
%container_small {
	width: 65%;

	@include md {
        width: 75%;
    }

    @include max-mq(850) {
        width: 82%;
    }

    @include sm {
        width: 100%;
    }
}
%container_medium {
	width: 75%;

    @include max-mq(850) {
        width: 82%;
    }

    @include sm {
        width: 100%;
    }
}

%container_large {
	width: 94.4%;

    @include sm {
        width: 100%;
    }
}

.container {
	@extend %container_default;
	@extend %container_default_mobile;

	&.small {
	}

	&.medium {
		@extend %container_medium;
	}

	&.large {
		@extend %container_large;
	}
}



//Text align

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

// Columns

.row,
.wp-block-columns.has-2-columns {
	&:not(.align-middle) {
		@include flex();
	}

	&.align-middle {
		@include flex($align: center);
	}

	&.reverse {
		flex-direction: row-reverse;
	}

	.col50,
	.wp-block-column {
		margin-bottom: 0;
		width: calc(50% - 25px);

		&:nth-child(even) {
			margin-left: 50px;
		}

		@include sm {
			width: 100%;
			margin-bottom: 1em;

			&:nth-child(even) {
				margin-left: 0;
			}

			&:not(:first-child) {
				margin-left: 0;
				margin-top: 10px;
			}
		}
	}
}

.wp-block-columns {
	&.align-middle {
		@include flex($align: center);
	}
}

.wp-block-media-text {
	.wp-block-media-text__content {
		padding-left: 50px;
		padding-right: 0;

		@include xs {
			padding-left: 0;
			padding-top: 80px;
		}
	}

	.wp-block-media-text__media {
		@include xs {
			grid-area: unset;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@include xs {
		display: block;
		grid-template-columns: unset !important;
	}
}


// Text formats

%italic_bold {
	font-weight: 700;
	font-style: italic;
}


// Recaptcha

.grecaptcha-badge {
	opacity: 0 !important;
	pointer-events: none !important;
}


/* Cookies 
================================================== */

#cookies-notification {
	@include transition(opacity .5s ease-in-out, visibility .5s ease-in-out);
	position: fixed;
	z-index: 10000;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: $black;
	padding-top: 40px;
	padding-bottom: 40px;
	color: $white;
	opacity: 1;
	visibility: visible;

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}

	@include md2 {
    	padding-top: 30px;
		padding-bottom: 30px;
    }

	@include md {
    	padding-top: 20px;
		padding-bottom: 20px;
    }

	.container {
		@include flex();
	}

	.message {
		float: left;
		width: calc(100% - 140px);
		margin-bottom: 0;

		@include sm {
	    	width: 100%;
	    }

	    p {
	    	max-width: 900px;
	    	padding-right: 15px;
	    }

	    a {
	    	color: $white;
	    	text-decoration: underline;
	    }
	}

	.buttons {
		width: 140px;
		float: left;
		text-align: right;

		@include sm {
	    	width: 100%;
	    	text-align: left;
	    	margin-top: 20px;
	    }
	}
}


/* HEADER
================================================== */

.header {

    .logo {
		float: left;
		position: relative;

		a {
			display: block;
			font-size: 48px;
			font-weight: 200;
			letter-spacing: 20px;
			color: $white;

			img {
				float: left;
			}
		}

    }


	.toggle-menu {
		display: none;
		float: right;
		width: 25px;
		height: 20px;
		margin-top: 10px;
		position: relative;
		z-index: 10000;
	}

}

.mobile-menu {
	display: none;
}

/* HOMEPAGE
================================================== */

/* DEFAULT PAGE
================================================== */

/* highlight-text */

.highlight-text {
	background-color: #dcdeeb;
	padding: 0.3em;
}

.site-content {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;

	> *:not(.kobu-section),
	> .kobu-section > * {
		@extend %container_default;
		@extend %container_default_mobile;

		&.alignwide:not(.alignmedium) {
			@extend %container_medium;
		}

		&.alignmedium {
			@extend %container_small;
		}

		&.alignfull {
			width: 100%;

			@include sm {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.home & {
		
	}

	.kobu-section {
		&:last-child {
			margin-bottom: -100px;
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
}

.wp-block-kobu-custom-blocks-responsive-spacer {
	&.size-large {
		height: 100px;  // medium screen

		@media screen and (min-width: 1900px) { // large screens
	       height: 120px;
		}
		@media screen and (max-width: 768px) { // small screens
	       height: 70px;
		}
	}
}


/* OTHER TEMPLATES
================================================== */


/* ERROR PAGE
================================================== */


/* FOOTER
================================================== */
footer {
    width: 100%;
	position: relative;

    .copyright {
		float: left;
		font-size: 11px;
		color: $gray;

		a {
			text-decoration: underline;
		}
    }


}
