/* Sticky footer
================================================== */

#tablesite-content {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.js-loaded & {
		min-height: 100vh;
		min-height: calc(var(--vh, 1vh) * 100);
	}

	#main-content {
		flex: 1 0 auto;
		overflow: hidden;
	}

	#footer-wrap {
		flex-shrink: 0;
	}
}

/* Columns layout
================================================== */

.row {
	&:not(.align-middle) {
		@include flex();
	}

	&.align-middle {
		@include flex($align: center);
	}

	&.reverse {
		flex-direction: row-reverse;
	}
	
	.col50 {
		@include flexWidth( calc(50% - 40px) );
		margin-bottom: 0;
	
		&:nth-child(even) {
			margin-left: 80px;
		}
	
		@include mq("sm") { 
			@include flexWidth( 100% );
			margin-bottom: 40px;
	
			&:nth-child(even) {
				margin-left: 0;
			}
	
			&:not(:first-child) {
				margin-left: 0;
				margin-top: 10px;
			} 
		}
	}

	.col33 {
		@include flexWidth( calc(33.33% - 40px) );
		margin-bottom: 0;
		margin-left: 60px;
	
		&:nth-child(3n+1) {
			margin-left: 0;
			margin-bottom: 100px;
		}
	
		@include mq("sm") { 
			@include flexWidth( 100% );
			margin-bottom: 60px;
		}
	}
}

/* Container
================================================== */

.container {
	@extend %container_common;

	&:not(.small):not(.medium):not(.large) {
		@extend %container_default;
	}
	&.medium {
		@extend %container_medium;
	}

	&.large {
		@extend %container_large;
	}
}

/* Fullheight top
================================================== */

#fullheight-top {
	height: 100vh;
	width: 100%;

	.js-loaded & {
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
	}
}

/* Editor content
================================================== */

.site-content {
	overflow: hidden;
	padding-top: 100px;
    padding-bottom: 140px;
    
    a {
		text-decoration: underline;
	}

	> noscript > *:not(.alignfull),
	> *:not(.alignfull),
	> .kobu-section.alignfull > *,
	> .wp-block-group.alignfull .wp-block-group__inner-container > * {
		&:not(.alignfull) {
			@extend %container_common;
		}

		&:not(.alignwide):not(.alignextrawide):not(.alignfull):not(.bg-img) {
			@extend %container_default;
		}

		&.alignwide {
			@extend %container_medium;
		}

		&.alignextrawide {
			@extend %container_large;
		}
		
		&.alignfull {
			width: 100%;
		}
	}

	> .alignfull {
		width: 100%;

		&:first-child {
			margin-top: -100px;
		}
		&:last-child {
			margin-bottom: -140px;
		}
    }
}

/* Google maps
================================================== */

.google-map {
	width: 100%;
	padding-top: 41.79%;

	img {
		max-width: inherit !important;
	}
}

/* Archive pages
================================================== */

.fixed-ratio-img {
	position: relative;
	padding-top: 100%;
}

/* Error page
================================================== */

.error-page {
}
