/* Blocks colors
================================================== */

@each $color, $color_code in $colors {
	.has-#{$color}-color {
		color: $color_code;

		blockquote,
		.wp-block-quote {
			color: $color_code;

			&:before {
				background-color: $color_code;
			}
		}
	}
	.has-#{$color}-background-color {
		background-color: $color_code;
	}
	.wp-block-cover-image.has-background-dim
		.has-#{$color}-background-color:before,
	.wp-block-cover.has-background-dim .has-#{$color}-background-color:before {
		background-color: $color_code;
	}

	.wp-block-button {
		&.is-style-outline {
			.wp-block-button__link.has-text-color.has-#{$color}-color {
				border-color: $color_code;
			}
		}

		.wp-block-button__link.has-#{$color}-background-color {
			background-color: $color_code;
		}

		.wp-block-button__link.has-text-color.has-#{$color}-color {
			color: $color_code;

			&:not(.has-background) {
				&:hover {
					background-color: $color_code;

					@if ($color == "white") {
						color: $black;
					} @else {
						color: $white;
					}
				}
			}
		}

		.wp-block-button__link.has-#{$color}-background-color {
			&:hover {
				background-color: darken($color_code, 10);
			}
		}
	}
}


/* Blocks font-sizes
================================================== */

.has-small-font-size {
}
.has-regular-font-size {
}
.has-medium-font-size {
}
.has-large-font-size {
}

/* Image block
================================================== */

.wp-block-image {
	margin-bottom: 30px;
}

.wp-block-image.is-resized {
	img {
		width: initial;
	}
}

/* Video and embed
================================================== */

.video-wrapper.error {
	padding-top: 57%;

	&:before {
		opacity: 1 !important;
		visibility: visible !important;
	}

	&:after {
		@include pseudo($content: "An error has occurred. This video cannot be played.");
		top: 50%;
		left: 0;
		width: calc(100% - 40px);
		transform: translateY(-50%);
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		color: $white;
		z-index: 10;
		opacity: 1 !important;
		visibility: visible !important;
	}

	> *:not(.video-placeholder) {
		display: none;
	}
}

video[poster] {
	-o-object-fit: cover;
	object-fit: cover;
}

body.js-loaded .pageload-video:not(.video-loaded),
.wp-block-video .video-wrapper,
.embed-container,
.kb-video .video-wrapper {
	height: 100%;
	position: relative;
	overflow: hidden;

	&:before {
		@include pseudo;
		@include transition(opacity 0.5s ease, visibility 0.5s ease);
		background-color: rgba($black, 0.5);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
	}

	video {
		float: left;
	}

	.play-video-btn {
		@include transition(opacity 0.5s ease, visibility 0.5s ease);
		position: absolute;
		height: 106px;
		width: 106px;
		transform: translateX(-100%) translateY(-100%);
		left: 0;
		top: 0;
		z-index: 5;
		opacity: 0;
		padding: 0;
		border: 0;
		background-color: transparent;
		cursor: pointer;

		@include mq("xs") { 
			height: 60px;
			width: 60px;
		}


		svg {
			width: 100%;
			height: 100%;
		}
	}

	.video-controls {
		@include transition(opacity 0.5s ease);
		position: absolute;
		bottom: 20px;
		opacity: 1;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;

		button {
			display: inline-block;
			width: 21px;
			height: 21px;
			padding: 0;
			border: 0;
			background-color: transparent;
			margin-right: 20px;
			color: transparent;
			overflow: hidden;
			font-size: 0;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: left center;
			cursor: pointer;

			&:last-child  {
				margin-right: 0;
			}

			&.play-pause {
				width: 18px;
				height: 21px;

				&.play {
					background-image: url("../images/controls-play.svg");
				}

				&.pause {
					background-image: url("../images/controls-pause.svg");
				}
			}

			&.mute {
				height: 21px;
				width: 21px;
				background-image: url("../images/controls-mute.svg");

				&.muted {
					background-image: url("../images/controls-unmute.svg");
				}
			}

			&.fullscreen {
				height: 21px;
				width: 21px;
				background-image: url("../images/controls-fullscreen.svg");
			}
		}
	}

	.subtitles {
		@include transition(bottom 0.5s ease);
		position: absolute;
		bottom: 60px;
		left: 0;
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		text-align: center;
		display: none;

		@media only screen and (max-width: 700px) {
			padding-left: 25px;
			padding-right: 25px;
		}

		&.visible {
			display: block;
		}

		span {
			background-color: rgba($black, 0.8);
			padding: 0.2em 0 0.2em 0;
			-webkit-box-decoration-break: clone;
			-ms-box-decoration-break: clone;
			-o-box-decoration-break: clone;
			box-decoration-break: clone;
			box-shadow: 0.3em 0 0 rgba($black, 0.8),
				-0.3em 0 0 rgba($black, 0.8);
			line-height: 1.8;
			color: $white;
		}
	}

	&:not(.show-controls) {
		.video-controls {
			opacity: 0;
		}

		.subtitles {
			bottom: 20px;
		}
	}

	&.paused {
		.video-controls {
			opacity: 0;
		}

		.subtitles {
			display: none;
		}
	}

	&.paused:not(.loading) {
		&:before {
			opacity: 1;
			visibility: visible;
		}

		.play-video-btn {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%);
			left: 50%;
			top: 50%;
		}
	}
}

body.js-loaded .pageload-video:not(.video-loaded),
.wp-block-video .video-wrapper.loading:not(.error),
.embed-container.loading:not(.error),
.kb-video .video-wrapper.loading:not(.error) {
	&:before {
		background-image: url("../images/loader.gif");
		background-size: 90px;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
	}
}

.embed-container {
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

.embed-container,
.kb-video {
	.video-placeholder {
		@include transition(opacity 0.5s ease, visibility 0.5s ease);
		background-size: cover;
		background-position: center;
		z-index: 2;

		img {
			@extend %sr-only;
		}
	}
}

.kb-video:not(.video-loaded) {
	.video-placeholder {
		position: relative;
	}
}

.embed-container,
.kb-video.video-loaded {
	.video-placeholder {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: 0;
		padding-top: 0 !important;
		height: 100%;
		width: 100%;
	}
}

.embed-container.paused,
.kb-video.video-loaded .video-wrapper.paused {
	.video-placeholder {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}

.wp-block-video,
.kb-video {
	position: relative;
	overflow: hidden;

	video {
		width: 100%;
		height: auto;
		float: left;
	}
}

.wp-block-embed:not(.wp-block-embed-facebook) {
	position: relative;
	overflow: hidden;

	.wp-block-embed__wrapper {
		padding-top: 57%;
		background-color: #000;
		position: relative;
		height: 0;
		width: 100%;

		> .embed-container,
		> iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.wp-block-embed.wp-block-embed-facebook {
	position: relative;

	.wp-block-embed__wrapper .fb-video {
		width: 100% !important;

		span {
			padding-top: 56.25% !important;
			background-color: #000;
			position: relative;
			height: 0;
			width: 100% !important;

			> .embed-container,
			> iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

/* Lists
================================================== */

.site-content {
	ul:not(.slick-dots):not(.page-numbers):not(.blocks-gallery-grid),
	ol:not(.blocks-gallery-grid) {
		margin-bottom: 20px;

		li {
			margin-bottom: 8px;
			margin-left: 0;
			padding-left: 25px;
			position: relative;
		}

		ul,
		ol {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		ol {
			counter-reset: item;

			li {
				display: block;
				padding-left: 35px;

				&:before {
					content: counters(item, ".") " ";
					counter-increment: item;
				}
			}
		}

		.ol-no-number {
			li:before {
				display: none;
			}
		}

		table {
			margin-top: 15px;
			margin-bottom: 15px;
			border-collapse: collapse;
		}

		table,
		th,
		td {
			border: 1px solid $black;
		}

		th,
		td {
			padding: 5px 10px;
		}
	}

	ul:not(.slick-dots):not(.page-numbers):not(.blocks-gallery-grid) {
		list-style: none;

		li:before {
			content: "\2022 ";
			font-family: Arial, Helvetica, Tahoma, sans-serif;
			font-size: 18px;
			color: $black;
			margin-right: 5px;
			font-weight: 900;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	ol {
		counter-reset: item;

		li:before {
			content: counter(item) ". ";
			counter-increment: item;
			color: $black;
			margin-right: 5px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	ul.table-of-contents,
	ol.table-of-contents,
	.table-of-contents ol,
	.table-of-contents ul {
		margin-top: 0;
		padding-left: 0;

		&.no-bullet {
			li {
				padding-left: 0 !important;
			}
		}

		li {
			margin-bottom: 20px !important;

			&::before {
				color: $black;
				margin-right: 5px;
				font-style: initial;
				position: relative;
				top: auto;
				left: auto;
			}
		}
	}
}

/* Blockquote
================================================== */

.wp-block-quote {
	font-style: normal;

	p {
		font-size: 2.7rem;
		margin-bottom: 10px;
		font-style: normal;
	}

	cite {
		display: block;
		margin-top: 20px;
		font-size: 1.28rem;
		letter-spacing: 2px;
	}
}

/* Table
================================================== */

.wp-block-table {
	table {
		overflow-x: auto;
		display: block;
	}

	&.is-style-stripes th,
	th {
		word-break: normal;
		border: 1px solid $black;
		border-bottom: 2px solid $black;
		font-weight: 700;
		padding: 10px 20px;
	}

	td {
		border: 1px solid $black;
		padding: 10px 20px;
		word-break: normal;
	}
}


/* Colunns block
================================================== */

.wp-block-columns {
	margin-bottom: 0;

	&.is-style-reverse-columns {
		flex-direction: row-reverse;

		.wp-block-column {
			@include mq("md2") {
				&:nth-child(odd) {
					margin-right: 0;
				}
				&:nth-child(even) {
					margin-right: 80px;
				}
			}
			@include mq("md") {
				&:nth-child(even) {
					margin-right: 60px;
				}
			}
			@include mq("xs") {
				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}

	.wp-block-column {
		@include flexWidth(50%);
		padding: 40px 40px 0 40px;

		@include mq("md2") {
			@include flexWidth(calc(50% - 40px));
			padding: 40px 0px 0 0px;

			&:nth-child(odd) {
				margin-right: 80px;
			}
		}
		@include mq("md") {
			@include flexWidth(calc(50% - 30px));

			&:nth-child(odd) {
				margin-right: 60px;
			}
		}
		@include mq("xs") {
			@include flexWidth(100%);
			padding-top: 60px;
			flex-basis: 100% !important;

			&:nth-child(odd) {
				margin-right: 0;
			}

			&:first-child {
				padding-top: 20px;
			}
		}
	}

	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}
}

/* Media text block
================================================== */

.wp-block-media-text {
	.wp-block-media-text__content {
		padding-left: 50px;
		padding-right: 0;

		@include mq("xs") { 
			padding-left: 0;
			padding-top: 80px;
		}
	}

	.wp-block-media-text__media {
		@include mq("xs") { 
			grid-area: unset;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			} 
		}
	}

	@include mq("xs") { 
		display: block;
		grid-template-columns: unset !important; 
	}
}

/* Columns group blocks
================================================== */

.wp-block-kobu-custom-blocks-margin-aligned-image.alignwide.larger-section,
.media-content-group.alignwide.larger-section,
.media-content-group.container.large,
.wp-block-kobu-custom-blocks-columns-group.alignwide.larger-section {
	.content-col-wrapper {
		//max-width: 79.98%;

		@include mq("sm") {
			max-width: 100%;
		}
	}
}

.wp-block-kobu-custom-blocks-margin-aligned-image.alignfull,
.media-content-group.alignfull,
.wp-block-kobu-custom-blocks-columns-group.alignfull {
	.content-col-wrapper {
		//max-width: 66.68%;

		@include mq("sm") {
			max-width: 100%;
		}
	}
}

.wp-block-kobu-custom-blocks-margin-aligned-image,
.wp-block-kobu-custom-blocks-columns-group-item,
.media-content-group,
.wp-block-kobu-custom-blocks-text-slider-img-text .slide-content {
	&.valign-start,
	&.valign-masonry {
		@include flex;
	}

	&.valign-center {
		@include flex($align: center);
	}

	&.valign-end {
		@include flex($align: flex-end);
	}

	&.valign-stretch {
		@include flex;

		.media-col {
			align-self: stretch;
			position: relative;

			> * {
				height: 100%;
			}

			.img-wrapper {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;

				img {
					@extend %sr-only;
				}
			}

			.kb-video {
				position: relative;
			}

			.kb-video,
			.video-wrapper {
				width: 100%;
				height: 100%;
			}

			.video-wrapper {
				position: absolute !important;
				top: 0;
				left: 0;

				video {
					height: 100%;
					width: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	&.img-first.align-right,
	&.img-last.align-left {
		flex-direction: row-reverse;
	}
}

.wp-block-kobu-custom-blocks-columns-group .child-item {
	//margin-bottom: 120px;

	&:last-child {
		margin-bottom: 0;
	}
}

.wp-block-kobu-custom-blocks-margin-aligned-image,
.wp-block-kobu-custom-blocks-columns-group-item,
.media-content-group,
.wp-block-kobu-custom-blocks-text-slider-img-text .slide-content {
	&.align-left {
		.content-col {
			.content-col-wrapper {
				margin-right: auto;
				padding-left: 110px;

				@include mq("xs") {
					padding-left: 0;
				}
			}
		}

		&.alignfull {
			.content-col .content-col-wrapper {
				@include mq("sm") {
					padding-right: 30px;
				}

				@include mq("xs") {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			.media-col {
				@include mq("xs") {
					padding-right: 20px;
				}
			}
		}
	}
	&.align-right {
		.content-col {
			.content-col-wrapper {
				margin-left: auto;
				padding-right: 110px;

				@include mq("xs") {
					padding-right: 0;
				}
			}
		}

		&.alignfull {
			.content-col .content-col-wrapper {
				@include mq("sm") {
					padding-left: 30px;
				}

				@include mq("xs") {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			.media-col {
				@include mq("xs") {
					padding-left: 20px;
				}
			}
		}
	}

	> *:not(:last-child) {
		@include mq("xs") {
			margin-bottom: 50px;
		}
	}

	.content-col {
		@include flexWidth(50%);

		@include mq("xs") {
			@include flexWidth(100%);
		}
	}

	.media-col {
		@include flexWidth(50%);
		overflow: hidden;

		@include mq("xs") {
			@include flexWidth(100%);
		}

		img {
			float: left;

			+ figcaption {
				float: left;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

/* Responsive spacer
================================================== */

.wp-block-kobu-custom-blocks-responsive-spacer {
	&.size-large {
		height: 140px;

		@include mq("xxl") {
			height: 200px;
		}
		@include mq("xl") {
			height: 170px;
		}
		@include mq("md") {
			height: 100px;
		}
		@include mq("sm") {
			height: 80px;
		}
	}

	&.size-xlarge {
		height: 160px;

		@include mq("xxl") {
			height: 220px;
		}
		@include mq("xl") {
			height: 180px;
		}
		@include mq("md") {
			height: 120px;
		}
		@include mq("sm") {
			height: 100px;
		}
	}

	&.size-medium {
		height: 80px;

		@include mq("xl") {
			height: 100px;
		}
		@include mq("sm") {
			height: 50px;
		}
	}

	&.size-small {
		height: 60px;

		@include mq("xl") {
			height: 90px;
		}
		@include mq("sm") {
			height: 30px;
		}
	}
}


/* Gallery blocks
================================================== */

.slider-gallery {
	@include transition(opacity 0.5s ease, visibility 0.5s ease);
	@include visible;

	&.hidden {
		@include hidden;
	}

	.gallery {
		padding-bottom: 10px;

		.slide {
			width: 100%;
		}
	}
}