// Utilities
@import "02_settings";

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

/* Cookies 
================================================== */

#cookies-notification {
	@include transition(opacity 0.5s ease, visibility 0.5s ease);
	@include font-size($fs14);
	@include visible;
	position: fixed;
	z-index: 10001;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: $black;
	color: $white;

	&.hidden {
		@include hidden;
	}

	.notification-wrapper {
		@include flex($align: center);
	}

	.message {
		float: left;
		width: calc(100% - 75px);
		margin-bottom: 0;

		@include mq("xs") {
			width: 100%;
		}

		p {
			padding-right: 10px;
		}

		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	.buttons {
		width: 75px;
		float: left;
		text-align: right;

		@include mq("xs") {
			width: 100%;
			text-align: left;
			margin-top: 15px;

			#accept-cookies {
				width: 100%;
			}
		}
	}
}