// Utilities
@import "01_settings";

html {
	overflow-x: hidden;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

/* Cookies 
================================================== */

#cookies-notification {
	@include transition(opacity 0.5s ease, visibility 0.5s ease);
	position: fixed;
	z-index: 10001;
	width: calc(100% - 80px);
	max-width: 508px;
	bottom: 40px;
	left: 40px;
	padding: 20px;
	background-color: $black;
	color: $white;
	opacity: 1;
	visibility: visible;
	font-size: 0.85rem;
	opacity: 0;

	@include mq("xxl") {
		max-width: 688px;
	}

	@include mq("xl") {
		max-width: 608px;
	}

	@include mq("sm") {
		bottom: 20px;
		left: 20px;
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	@include mq("xs") {
		left: 20px;
		bottom: 20px;
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}

	.js-loaded & {
		&:not(.hidden) {
			opacity: 1;
		}
	}

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}

	.notification-wrapper {
		@include flex($align: center);
	}

	.message {
		float: left;
		width: calc(100% - 75px);
		margin-bottom: 0;

		@include mq("xs") {
			width: 100%;
		}

		p {
			padding-right: 10px;
		}

		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	.buttons {
		width: 75px;
		float: left;
		text-align: right;

		@include mq("xs") {
			width: 100%;
			text-align: left;
			margin-top: 15px;

			#accept-cookies {
				width: 100%;
			}
		}
	}
}