@use "../abstracts" as *;

/* Button and CTA
================================================== */

button {
	font-family: $font-family-base;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	width: auto;
	padding: 0;
	height: auto;
	outline: 0;
	cursor: pointer;
}

.wp-block-button__link.has-background {
	border-color: inherit;
}
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	border: 1px solid;
}

input[type="submit"],
form button,
.wp-block-button:not(.is-style-outline) .wp-block-button__link {
	@include btn-common;
	@include btn();

	.site-content & {
		text-decoration: none;
	}
}

.wp-block-button.is-style-outline .wp-block-button__link {
	@include btn-common;
	@include btn();

	.site-content & {
		text-decoration: none;
	}
}

.btn-wrapper a,
.btn {
	@include btn-common;

	.site-content & {
		text-decoration: none;
	}
}

.btn-wrapper.primary a,
.btn.primary {
	@include btn(
		$color: var(--wp--preset--color--senary),
		$colorhover: var(--wp--preset--color--senary),
		$border: var(--wp--preset--color--primary),
		$borderhover: var(--wp--preset--color--primary),
		$background: var(--wp--preset--color--primary),
		$backgroundhover: var(--wp--preset--color--primary),
	);
}