@use '../abstracts' as *;

/* Cookies 
================================================== */

#cookies-notification {
	@include transition(opacity 0.8s ease, visibility 0.8s ease);
	@include visible;
	position: fixed;
	z-index: z(cookies-notification);
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--senary);

	&.hidden {
		@include hidden;
	}

	.notification-wrapper {
		@include flex($align: center);
	}

	.message {
		float: left;
		width: calc(100% - 75px);
		margin-bottom: 0;

		@include mq("xs") {
			width: 100%;
		}

		p {
			padding-right: 10px;
		}

		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	.buttons {
		width: 75px;
		float: left;
		text-align: right;

		@include mq("xs") {
			width: 100%;
			text-align: left;
			margin-top: 15px;

			#accept-cookies {
				width: 100%;
			}
		}
	}
}
